GATSBY_SANITY_PROJECT_ID="5o7ktlxm"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skax0Bcv7e2fkJLUuadYUcpJx0WiVVuLLf2Y3P0Rd2WI2r9VAANCDTz0i9kbPjiyJMJtovqZbHwZum0LhXxwLm5cpCB6JXlWFE3BD8l3ubnUXcEgq0SoZPPgrCL9P5Nz81D8s42iqWhnWu5uemP5zJEVOSrzwA1a6Vg4GwLXgsyAHaOhNhdr"

